* {  
  font-family: 'Courier New', Courier, monospace;   
}

html{
  background-image: url('https://thumbs.dreamstime.com/z/cooking-seafood-frying-pan-vegetables-veggie-healthy-food-black-background-menu-restaurant-business-cooking-187856526.jpg?w=992');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 body { 
  display: flex;
  justify-content: center;
  align-items: center;  
}


.main-containter {
  text-align: center;
}

.header {
margin-top: 200px;
padding: 40px;
font-size: 70px;
color: white;
text-align: center;
}


.header span {
  border-bottom: white solid 6px;
}

.check {
  color: rgb(252, 232, 3);
  text-align:center;
 margin-bottom: 60px;
 font-size: 40px;
}

.categoryBtn {
  margin-top: 20px;
  color:black;
  font-size: 50px;
  border: 0;
  border-radius: 5px;
  background-color: greenyellow;
  cursor:pointer;  
  transition: 0.4s ease-in-out;
  transform: rotate(90deg);
  animation: tilt-shaking 1.5s;
  
} 

.categoryBtn:hover {
  background-color: #00c9ff;   
  transform: translateY(30px) rotate(90deg) ;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); 
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 2500px;  
  background: rgba(133, 202, 194, 0.5);  
}


.card {
  width: 400px;
  height: 550px;
  padding: 2rem 1rem;
  margin: 20px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out; 
}

.card:hover {
  transform: translateY(20px); 
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 176,155, 0.5), rgba(150, 201,61, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;  
}

.card:hover::before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
  
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  width:fit-content ;
}

.card .info .btn {
  text-decoration: none;  
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: 0;
}

.card .info .btn:hover {
  background-color: #00c9ff;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid  #92fe9d;
}

.food-container {
  display: flex;
  flex-wrap: wrap;  
  padding: 10px;
  margin-top: 100px;
  justify-content: center;  
  border: #000 solid 5px;
  border-radius: 100px;
  background-color:black;
  opacity: 0.8;
}


.food-card { 
  margin: 40px;
  transition: 0.5s ease-in;
  color:white;    
}

.food-card:hover {
  transform: scale(1.1);
  font-size: 30px;
  color: rgb(252, 232, 3);
}

.food-card img {
   width: 250px;
   height: 300px;   
}

.food-header {
  width: 200px;
}

.food-text {
  font-size: 23px;  
}

.comment-form {
  border: white dotted 5px;
  margin-top: 100px;
  margin-left: 35%;  
  text-align:center;
  width: 30% 
}

#text-display { 
  margin-top : 50px;
  text-align: center;   
}

#text-display p {
  font-size: 25px;
  background-color: grey;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  color: white;
  text-decoration: bold;
}

.comment-form .submitBtn {  
  margin-top:20px;
  border: 0;
  background-color: greenyellow;
  cursor: pointer;  
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.comment-form .submitBtn:hover {
  background-color: #00c9ff ;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(20px)
}
 
.comment-form .submitBtn img {
  width: 55px;
}

.input-comment {  
  padding:30px;
  font-size: 30px;
  color: black;  
}

h2 {
  font-size: 35px;
  color: white;
}



@keyframes tilt-shaking {
  60% { transform: rotate(-360deg); 
   }
  
}

