* {  
  font-family: 'Courier New', Courier, monospace;   
}

html{  
  background-image: url('https://img.freepik.com/free-photo/dark-grunge-texture-background-with-scratches-stains_1048-18915.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
}

.header{  
  margin-top: 200px;  
  color: white;
  font-size: 70px;
  text-align: center;
}

.description {
  margin: 40px;       
  border: solid white 1px;
  padding: 50px;
  width: fit-content;
  height: 1000px;
  color: white;
  font-size: 30px;
  text-align: center;
}



.description .best-food {
  color:  #ff9900;
  font-size: 50px;
  font-family: monospace;
}
p .delicious {
  color: white;  
  font-size: 200px;
  font-family: serif;
}

.taste-text {
  color:  #ff9900;
  font-size: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description .image {
  position: relative;
  margin-right: 50px;
  float: left;
  
  overflow: hidden;
	animation: 30s slide infinite;
} 
/* Add these styles for the image slider*/


.detail {
  margin-top: 150px;   
}
/* Navigation bar */
nav { 
  display: flex;
  position: absolute; 
  top: 0; 
  left: 0; 
  justify-content: space-between; 
  align-items: center; 
  margin-left: 25%;
  background-color: #333;
  padding: 35px; 
  width: 1700px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 70px; /* Adjust the spacing between navigation items */
  font-size: 35px;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #ff9900;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  margin-right: 5px; /* Adjust the spacing between the input and the button */
  border: none;
  border-radius: 3px;
  padding: 20px;
  width: 200px;
  font-size: 20px;
}

.search-box button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ff9900;
  padding: 5px 10px;  
  color: #fff;
  font-size: 25px;
}

.search-box button.search-btn {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ff9900;
  padding: 10px 15px; /* Adjust button padding */
  color: #fff;
  font-size: 25px;
}

.search-box button.search-btn:hover {
  transform: translateY(2px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background-color: #00c9ff;
}



body { 
  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.main-containter {
  text-align: center;
}



.categoryBtn {  
  animation: tilt-shaking 1.5s;  
  transition: 0.4s ease-in-out;
  cursor:pointer;
  margin-top: 20px;
  border: 0;
  border-radius: 5px;
  background-color: greenyellow;
  padding: 20px;
  color:black;
  font-size: 25px;
  
} 

.categoryBtn:hover {
  transform: translateY(30px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background-color: #00c9ff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 300px;  
  background: rgba(133, 202, 194, 0.5);
  width: 2500px;  
}


.card {
  display: flex;
  position: relative;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
  margin: 20px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 2rem 1rem;
  width: 400px;
  height: 550px; 
}

.card:hover {
  transform: translateY(20px); 
}

.card:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.5s all;
  background-image: linear-gradient(to bottom, rgba(0, 176,155, 0.5), rgba(150, 201,61, 1));
  width: 100%;
  height: 100%;
  content: "";  
}

.card:hover::before {
  opacity: 1;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  z-index: 3;
  transition: 0.5s all;
  color: #fff;
}

.card:hover .info {
  transform: translateY(0px);
  opacity: 1;
  
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  margin-top: 8px;
  margin-bottom: 20px;
  width:fit-content ;
  font-size: 15px;
  letter-spacing: 1;
}

.card .info .btn {
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 0;
  background: #fff;  
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid  #92fe9d;
  background-color: #00c9ff;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.8;
  margin-top: 100px;  
  border: #000 solid 5px;
  border-radius: 100px;
  background-color:black;  
  padding: 10px;
}


.food-card {
  transition: 0.5s ease-in; 
  margin: 40px;
  color:white;    
}

.food-card:hover {
  transform: scale(1.1);
  color: rgb(252, 232, 3);
  font-size: 30px;
}

.food-card img {
   width: 250px;
   height: 300px;   
}

.food-header {
  width: 200px;
}

.food-text {
  font-size: 23px;  
}

.comment-form {
  margin-top: 100px;
  margin-left: 35%;
  border: white dotted 5px;
  width: 30%;  
  text-align:center 
}

#text-display { 
  margin-top : 50px;
  text-align: center;   
}

#text-display p {
  margin: 5px;
  border: 1px solid #ccc;
  background-color: grey;
  padding: 10px;
  color: white;
  font-size: 25px;
  text-decoration: bold;
}

.comment-form .submitBtn {
  transition: 0.4s ease-in-out;
  cursor: pointer;  
  margin-top:20px;
  border: 0;  
  border-radius: 10px;
  background-color: greenyellow;
}

.comment-form .submitBtn:hover {
  transform: translateY(20px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background-color: #00c9ff 
}
 
.comment-form .submitBtn img {
  width: 55px;
}

.input-comment {  
  padding:30px;
  color: black;
  font-size: 30px;  
}




@keyframes tilt-shaking {
  100% { transform: rotate(360deg);
}
  
}



.slide-main {
  position: relative;
  width: 400%; /* Adjust the width based on the number of images */
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  overflow: hidden;
    
}

.slide-main img {
  width: 25%; /* Adjust the width based on the number of images */
  float: left;
  
}

.slide-container {
	height: 100%;
	width: 55%;
	overflow: hidden;
  float: left;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
}

@keyframes slide { 
	0%  { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; } 
	75% { left: -300%; }
	90% { left: -300%; }	
	100% { left: 0%; }  
}


